.swiftlatex-preview-widget {

}

.pf-line {
  line-height: 1.00;
  white-space: pre;
  position: absolute;
}

.pf-space {
  display: inline-block;
}

#swiftlatex_preview_viewer {
  background-color: #9c9c9c; margin: 0; padding:0; border: 0;
  width: 100%;
  height: 96%; 
  overflow-x: scroll;
  overflow-y: scroll;
}

.page_decoration {
  margin: 0 auto; background-color: white;
  transform-origin: 50% 0;
}


.swiftlatex-preview-toolbar {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
}

.swiftlatex-preview-toolbar-button {
    min-width: 1rem;
    text-align: center;
    flex-grow: 0;
    font-family: FontAwesome;
    font-size: 16px;
    margin: 0px 4px 0px 4px;
}

.swiftlatex-preview-toolbar-previous::before {
    content: "\f053";
}

.swiftlatex-preview-toolbar-next::before {
    content: "\f054";
}

.swiftlatex-preview-toolbar-zoomout::before {
    content: "\f010";
}

.swiftlatex-preview-toolbar-zoomin::before {
    content: "\f00e";
}

.swiftlatex-preview-toolbar-input {
    width: 40%;
    line-height: 1.00;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center; 
}

.viewercursor {
  border-right: 1px solid red;
}